/*CSS Reset / Normalize*/

:root{
   --cor-de-menu:#ffefdf;
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-box: white;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}
/*Sección Menu*/

section.menu{
    background-image: url(../assets/encabezado.png);
    display: flex;
    justify-content: space-around;
    height: 75px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.menu__header img{
    height: 50px;
    filter: drop-shadow(5px 5px 2px var(--cor-de-link));
}

.menu__list{
    display: flex;
    gap: 20px;
}

.menu__list__item a{
    color: var(--cor-box);
    text-shadow: 3px 3px 2px var(--cor-de-link);
    font-size: 18px;
}

/*Sección Title*/

section.title{
    padding-top: 75px;
    
}

.title__div{
    padding: 50px 10%;
    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
    align-items: flex-end;
}

.title__profile{
    width: 368px;
    margin-left: 50px;
}

.title__container{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 1.5;
    gap: 20px;
    
}

.title__bio{
    font-size: 52px;
    text-align: center;
}

.title__network{
    display: flex;
    justify-content: space-around;
}

/*Sección About*/

section.about{
    background: var(--cor-de-menu);
    padding: 50px 0;
}

.about__title{
    font-size: 32px;
    font-weight: bold;
}

.about__container{
    padding: 0 10%;
}

.about__container img{
    width: 10%;
}

/*Skills*/

section.skills{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.skills__title{
    padding: 0 0 50px 0;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.skills__line{
    padding: 0 10%;
}

.skills__line{
    display: flex;
    justify-content: space-around;
}

.skills__box{
    background-color: var(--cor-box);
    width: 176px;
    height: 176px;
    display: flex;
    align-items: flex-end;
}

.skills__box ul{
    margin: 20px 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/*Sección Hobbies*/

section.hobbies{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.hobbies__title{
    padding: 0 0 50px 0;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.hobbies__line{
    padding: 0 10%;
}

.hobbies__line{
    display: flex;
    justify-content: space-around;
}

.hobbies__box{
    background-color: var(--cor-box);
    width: 176px;
    height: 176px;
    display: flex;
    align-items: flex-end;
}

.hobbies__box ul{
    margin: 20px 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* Experiencia Académica*/

section.academic{
    background-color: var(--cor-de-menu);
    padding: 50px 0;
}

.academic__title{
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.academic__courses{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
} 

.academic__courses__item__img{
    background-color: var(--cor-box);
    height: 286px;
    width: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__img img{
    width: 190px;
}

.academic__courses__item__title{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.academic__courses__item__subtitle{
    font-size: 16px;
}

/* experiencia*/

section.experience{
}

.experience__section__title{
    padding: 50px 0;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/*Contacto*/

section.formcontato{
    background-color: var(--cor-de-menu);
    padding: 50px 10%;
}

.formcontato__contacto{
    display: flex;
    gap: 15px;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formcontato__title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.formcontato__subtext{
    font-size: 12px;
}

.formcontato__form{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.formcontato__input{
    height: 52px;
}

.formcontato__botao{
    width: 144px;
    height: 52px;
    background-color: var(--cor-de-link);
    color: var(--cor-de-menu);
}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}